# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# DuckDB artifacts
data/warehouse/*.duckdb
data/warehouse/*.wal
.duckdb/
.duckdb*  

# Raw and intermediate data
data/raw/
data/external/

# Jupyter
.ipynb_checkpoints/

# dbt generated
dbt/target/
dbt/dbt_packages/
dbt/logs/